Repository strapi/sdk-plugin, pull requests merged in 2024-09, with the labels that each got.

#32 fix: @strapi/design-system does not provide an export named 'Page'
  src/cli/commands/plugin/init/files/admin.ts
Labels: pr: fix

#46 Add automatic install and build for plugins
  .changeset/spicy-knives-shout.md
  package.json
  pnpm-lock.yaml
  src/cli/commands/plugin/init/action.ts
  src/cli/commands/plugin/init/command.ts
  src/cli/commands/utils/helpers.ts
  src/types.ts
Labels: pr: enhancement, source: sdk-plugin

#48 fix/missing-commonjs
  .changeset/rich-hairs-smell.md
  src/cli/commands/plugin/watch.ts
Labels: pr: fix, source: sdk-plugin

#50 chore: remove strapi-server file from generate plugin
  .changeset/light-squids-wash.md
  src/cli/commands/plugin/init/action.ts
Labels: pr: enhancement, source: sdk-plugin

#53 Remove unecessary commonjs plugin
  .changeset/dry-cows-approve.md
  package.json
  pnpm-lock.yaml
  src/cli/commands/plugin/build.ts
  src/cli/commands/plugin/link-watch.ts
  src/cli/commands/plugin/watch.ts
  src/cli/commands/utils/config.ts
Labels: pr: fix, source: sdk-plugin

#54 chore: use esm for server code by default
  .changeset/six-turkeys-study.md
  src/cli/commands/plugin/init/action.ts
  src/cli/commands/plugin/init/files/javascript.ts
  src/cli/commands/plugin/init/files/server.ts
Labels: pr: chore, source: sdk-plugin
